<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="icon" type="image/png" href="./img/favicon_penguin.png">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="../styles.css">
        <!--<link rel="stylesheet" href="./public/css/sponsor.css">-->

        <title>Devcation 2022: Design n Solve</title>
    </head>
    <body>
        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-up-arrow-alt scrolltop__icon'></i>
        </a>
        
        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="../index.html" class="nav__logo"><- Back to Home</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">About</a></li>
                        <li class="nav__item"><a href="#rules" class="nav__link ">Rules</a></li>
                        <li class="nav__item"><a href="#theme" class="nav__link">Theme</a></li>
                        <li class="nav__item"><a href="#judges" class="nav__link">Judges</a></li>
                        <li class="nav__item"><a href="#mentors" class="nav__link">Mentors</a></li>
                        <li class="nav__item"><a href="#prizes" class="nav__link">Prizes</a></li> 
                        <li><i class='bx bx-toggle-left change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== Welcome ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__img">
                        <img src="../img/Design.png" alt="">
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">Design 'N' Solve</h1>
                        <p class="home__description">A Designathon you have never seen before. Packed with mentorship sessions, mini events and a lot of prizes up for grabs, Devcation's Design 'n' Solve will offer you a chance to learn and showcase your designing skills.</p>
                        
                    </div>   
                </div>
            </section>

            <!--========== RULES AND REGULATIONS ==========-->
            <section class="send section" id="rules">
                <div class="send__container bd-container bd-grid">
                    <div class="send__content">
                        <h2 class="section-title-center send__title">Rules &#x1F527;</h2>
                        <p class="send__description">
                            <ul class="rules_list">
                                <li>There will be 2 to 4 people in one team.</li>
                                <li>The theme for the event will be the UN's 17 Sustainable Development Goals.</li>
                                <li>Deadline to Register: 27th February 2022</li>
                                <li>An email with the entire structure of the designathon will be sent to the registered teams by 28th February 2022</li>
                                <li>Teams will be invited on a sync call with the mentor assigned to them on 02nd March 2022.</li>
                                <li>There will be 2 mini-events on 03rd and 04th March 2022 for which separate prizes will be awarded to the winners.</li>
                                <li>Final submission deadline is 11:59 PM on 05th March 2022.</li>
                                <li>The judging criteria will be creativity, novelty, features, ease of implementation, aesthetic and its contribution and relevance to UN's 17 SDGs.</li>
                            </ul>
                        </p>
                    </div>

                    <div class="send__img">
                        <img src="../img/aram.png" alt="">
                    </div>
                </div>
            </section>

            <!-- =============Theme UN SDG============ -->

            <section class="share section bd-container" id="theme">
                <div class="share__container bd-grid">
                    <div class="share__data">
                        <h2 class="section-title-center">Theme &#x1F31F;</h2>
                        <p class="share__description">The Sustainable Development Goals or Global Goals are a collection of 17 interlinked global goals designed to be a "blueprint to achieve a better and more sustainable future for all". The SDGs were set up in 2015 by the United Nations General Assembly and are intended to be achieved by the year 2030.</p>
                        
                    </div>

                    <div class="share__img">
                        <img src="../img/SDG.png" alt="">
                    </div>
                </div>
            </section>

        
            <!--========== JUDGES ==========-->
            <section class="decoration section bd-container" id="judges">
                <h2 class="section-title">Judges</h2>
                <div class="decoration__container bd-grid">
                    <div class="decoration__data">
                        <img src="../img/events/user_placeholder.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">Judge</h3> 
                        <p class="button button-link">Coming Soon</p>
                    </div>

                    <div class="decoration__data">
                        <img src="../img/events/user_placeholder.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">Judge</h3>
                        <p class="button button-link">Coming Soon</p>
                    </div>

                    <div class="decoration__data">
                        <img src="../img/events/user_placeholder.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">Judge</h3>
                        <p class="button button-link">Coming Soon</p>
                    </div>
                </div>
            </section>

             <!--========== MENTORS ==========-->
             <section class="decoration section bd-container" id="mentors">
                <h2 class="section-title">Mentors</h2>
                <div class="decoration__container bd-grid">
                    <div class="decoration__data">
                        <img src="../img/events/user_placeholder.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">Mentor</h3> 
                        <p class="button button-link">Coming Soon</p>
                    </div>

                    <div class="decoration__data">
                        <img src="../img/events/user_placeholder.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">Mentor</h3>
                        <p class="button button-link">Coming Soon</p>
                    </div>

                    <div class="decoration__data">
                        <img src="../img/events/user_placeholder.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">Mentor</h3>
                        <p class="button button-link">Coming Soon</p>
                    </div>
                </div>
            </section>

            <!--========== PRIZES ==========-->
            <section class="decoration section bd-container" id="prizes">
                <h2 class="section-title">Prizes</h2>
                <div class="decoration__container bd-grid">
                    <div class="decoration__data">
                        <img src="../img/events/gold_trophy.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">Winner</h3> 
                        <p class="button button-link">Coming Soon</p>
                    </div>

                    <div class="decoration__data">
                        <img src="../img/events/silver_trophy.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">1st Runner Up</h3>
                        <p class="button button-link">Coming Soon</p>
                    </div>

                    <div class="decoration__data">
                        <img src="../img/events/bronze_trophy.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">2nd Runner Up</h3>
                        <p class="button button-link">Coming Soon</p>
                    </div>

                    
                    <div class="decoration__data">
                        <img src="../img/events/top10_certificate.png" alt="" class="decoration__img">
                        <h3 class="decoration__title">Top 10 Teams</h3> 
                        <p class="button button-link">Coming Soon</p>
                    </div>
        
                            <div class="decoration__data">
                                <img src="../img/events/sponsor_star.png" alt="" class="decoration__img" >
                                <h3 class="decoration__title">Sponsor Track</h3>
                                <p class="button button-link">Coming Soon</p>
                            </div>
        
                            <div class="decoration__data">
                                <img src="../img/events/participation_certificate.png" alt="" class="decoration__img">
                                <h3 class="decoration__title">Participation</h3>
                                <p class="button button-link">Coming Soon</p>
                            </div>
                    
                    
                        </div>
                </section>

            
            <!--========== FOOTER (Socials) ==========-->
            <section class="footer " id="contact_us">
                <div class="footer__container bd-container bd-grid">
                    <div class="footer__social">
                        <h2 class="footer__title" style="color: white;" >Contact us at:</h2>
                            <div class="footer__icons" >
                                <a href="https://www.instagram.com/gdsc_igdtuw/" class="footer__logo" ><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://twitter.com/gdsc_igdtuw" class="footer__logo" ><i class="fa-brands fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/dscigdtuw/mycompany/" class="footer__logo" ><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="https://www.youtube.com/c/DSCIGDTUW" class="footer__logo" ><i class="fa-brands fa-youtube"></i></a>
                            </div>
                    </div>

                </div>
                
            </section>
        </main>
        
        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="../main.js"></script>
        
        <!-- Timeline.js -->
        <script src="../public/js/timeline.js"></script>

        <!-- Sponsors -->
        <script src="../public/js/sponsors.js"></script>
    </body>

</html>