<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="icon" type="image/png" href="../img/favicon_penguin.png">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="../styles.css">
        <link rel="stylesheet" href = "../public/css/projects.css">

        <title>Devcation 2022: Projects</title>
    </head>
    <body>
        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-up-arrow-alt scrolltop__icon'></i>
        </a>
        
        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="../index.html" class="nav__logo">Devcation 2022</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="../index.html" class="nav__link active-link">Theme</a></li>
                        <li class="nav__item"><a href="../index.html" class="nav__link">Events</a></li>
                        <li class="nav__item"><a href="../index.html" class="nav__link">Timeline</a></li>
                        <li class="nav__item"><a href="" class="nav__link">Sponsors</li>
                        <li class="nav__item"><a href="./team.html" class="nav__link">Team</a></li> 
                        <li class="nav__item"><a href="./comingsoon.html" class="nav__link">Projects</a></li>     
                        <li><i class='bx bx-toggle-left change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">

            <!--========== PROJECTS SECTION ==========-->
            <section class="section" id="team">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <div class="card text-center">
                                        <div class="card-header">
                                            <img src="img/Projects/prj1.jpg" alt="team member" class="img-responsive">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Project Name</h5>
                                            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class = "text-muted card-footer-title">
                                                By : Team Name
                                            </div>
                                            <div class = "card-footer-icons">
                                                <a href="#"><i class="fa fa-github"></i></a>
                                                <a href="#"><i class="fa fa-external-link"></i></a>
                                            </div>                                          
                                        </div>
                                      </div>
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-github"></i></a>
                                        <a href="#"><i class="fa fa-external-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <div class="card text-center">
                                        <div class="card-header">
                                            <img src="img/Projects/prj1.jpg" alt="team member" class="img-responsive">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Project Name</h5>
                                          <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class = "text-muted card-footer-title">
                                                By : Team Name
                                            </div>
                                            <div class = "card-footer-icons">
                                                <a href="#"><i class="fa fa-github"></i></a>
                                                <a href="#"><i class="fa fa-external-link"></i></a>
                                            </div>                                          
                                        </div>
                                      </div>
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-github"></i></a>
                                        <a href="#"><i class="fa fa-external-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <div class="card text-center">
                                        <div class="card-header">
                                            <img src="img/Projects/prj1.jpg" alt="team member" class="img-responsive">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Project Name</h5>
                                          <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class = "text-muted card-footer-title">
                                                By : Team Name
                                            </div>
                                            <div class = "card-footer-icons">
                                                <a href="#"><i class="fa fa-github"></i></a>
                                                <a href="#"><i class="fa fa-external-link"></i></a>
                                            </div>                                          
                                        </div>
                                      </div>
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-github"></i></a>
                                        <a href="#"><i class="fa fa-external-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <div class="card text-center">
                                        <div class="card-header">
                                            <img src="img/Projects/prj1.jpg" alt="team member" class="img-responsive">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Project Name</h5>
                                          <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class = "text-muted card-footer-title">
                                                By : Team Name
                                            </div>
                                            <div class = "card-footer-icons">
                                                <a href="#"><i class="fa fa-github"></i></a>
                                                <a href="#"><i class="fa fa-external-link"></i></a>
                                            </div>                                          
                                        </div>
                                      </div>
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-github"></i></a>
                                        <a href="#"><i class="fa fa-external-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>

                </div>
            </section>

            
            <!--========== REACH OUT TO DEVELOPERS ==========-->
            <section class="send section" id="contact_us">
                <div class="send__container bd-container bd-grid">
                    <div class="send__content">
                        <h2 class="section-title-center send__title">Found A Problem?</h2>
                        <p class="send__description">Celestial Biscuit takes their laptops along even on a vacation. Feel free to reach out to us in case you are having any trouble in using our platform.</p>
                        <form action="">
                            <div class="send__direction">
                                <input type="text" placeholder="Type Message" class="send__input">
                                <a href="#" class="button">Send</a>
                            </div>
                        </form>
                    </div>

                    <div class="send__img">
                        <img src="./img/aram.png" alt="">
                    </div>
                </div>
            </section>
        </main>

        
        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="../main.js"></script>
    </body>
</html>