<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adaptive tabs</title>
    <link rel="stylesheet" href="tab.css">
    <link rel="stylesheet" type="text/css" href="schedule.css">
</head>
<body>
<div class="faq">
    <h3 class="faq-title">Hackathon Schedule</h3>
    <div class="faq-wrapper">
        <div class="scroll">
        <ul class="faq-list-title">
            <li class="faq-item active">
                Day 1 (27th Feb)
            </li>
            <li class="faq-item">
                Day 2 (28th Feb)
            </li>
            <li class="faq-item">
                Day 3 (2nd March)
            </li>
            <li class="faq-item">
                Day 4 (3rd March)
            </li>
            <li class="faq-item">
                Day 5 (4th March)
            </li>
            <li class="faq-item">
                Day 6 (5th March)
            </li>
            <li class="faq-item">
                Day 7 (6th March)
            </li>
            <li class="faq-item">
                Day 8 (7th March)
            </li>
            <li class="faq-item">
                Day 9 (8th March)
            </li>
            <li class="faq-item">
                Day 10 (9th March)
            </li>
            <li class="faq-item">
                Day 11 (10th March)
            </li>
            <li class="faq-item">
                Day 12 (11th March)
            </li>
            <li class="faq-item">
                Day 13 (12th March)
            </li>
            <li class="faq-item">
                Day 14 (13th March)
            </li>
            <li class="faq-item">
                Day 15 (14th March)
            </li>
        </ul>
        </div>
        <div class="faq-answer-wrapper">
            <div class="faq-answer">
                <div class="faq-overlay"></div>
                <div class="faq-elem active">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">27th Feb 2022</div>
                                <div class="timeline-content">
                                    <h3>Registration Deadline for Designathon</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">27th Feb 2022</div>
                                <div class="timeline-content">
                                    <h3>Registration Deadline for Ideathon</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">28th Feb 2022</div>
                                <div class="timeline-content">
                                    <h3>Sending out E-mails to Designathon participants</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">28th Feb 2022</div>
                                <div class="timeline-content">
                                    <h3>Sending out E-mails to Ideaathon participants</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">4:00 pm to 7:00 pm</div>
                                <div class="timeline-content">
                                    <h3>Designathon Mentorship round 1</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">5:00 pm</div>
                                <div class="timeline-content">
                                    <h3>Ideathon round 1 submission</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">00:00 am</div>
                                <div class="timeline-content">
                                    <h3>Announcement of Mini event 1 for designathon</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">00:00 am</div>
                                <div class="timeline-content">
                                    <h3>Announcement of Mini event 2 for designathon</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">8:00 pm</div>
                                <div class="timeline-content">
                                    <h3>Opening ceremony</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">12:00 pm</div>
                                <div class="timeline-content">
                                    <h3>Send e-mails to top 10 teams of Ideathon</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">6:00 pm to 7:00 pm</div>
                                <div class="timeline-content">
                                    <h3>Building beautiful user-friendly products(Workshop)</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">11:59 PM</div>
                                <div class="timeline-content">
                                    <h3>Designathon Final Submission</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">04:00 PM to 06:30 PM</div>
                                <div class="timeline-content">
                                    <h3>Ideathon Live Presentation </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">07:00 PM</div>
                                <div class="timeline-content">
                                    <h3> Ideating a winning solution (Workshop)</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">06:30 PM to 07:30 PM</div>
                                <div class="timeline-content">
                                    <h3>How to ace your hackathon pitch (Workshop)</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">07:00 PM to 08:00 PM</div>
                                <div class="timeline-content">
                                    <h3>How to ace dev hackathons (Workshop)</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">07:00 PM to 08:00 PM</div>
                                <div class="timeline-content">
                                    <h3>How to create a search application using Amazon Opensearch service, Lambda and API gateway (workshop)
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">07:00 PM to 08:00 PM</div>
                                <div class="timeline-content">
                                    <h3> Adding in-app AI voice assistant to your apps (workshop)</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">06:00 PM to 07:00 PM</div>
                                <div class="timeline-content">
                                    <h3>Cloud Computing for your projects (workshop)</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">12:00 AM</div>
                                <div class="timeline-content">
                                    <h3>Hackathon Starts </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">07:00 PM to 08:00 PM</div>
                                <div class="timeline-content">
                                    <h3>Roadmap to DSA (workshop)</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">12:00 PM</div>
                                <div class="timeline-content">
                                    <h3>Hackathon ends</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">12:30-2:30 PM</div>
                                <div class="timeline-content">
                                    <h3>Hackathon pitch of all teams in front of mentors</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">4:00-6:30 PM</div>
                                <div class="timeline-content">
                                    <h3>Hackathon pitch of top 10 teams in front of judges</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="faq-elem">
                    <section class="timeline-section">
                        <div class="timeline-items">
                            <div class="timeline-item">
                                <div class="timeline-dot"></div>
                                <div class="timeline-date">14th March 2022</div>
                                <div class="timeline-content">
                                    <h3>TBD - Closing Ceremony</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="schedule.js"></script>
</body>
</html>