<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="icon" type="image/png" href="../img/favicon_penguin.png">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="../styles.css">
        <link rel="stylesheet" href = "../public/css/team.css">

        <title>Devcation 2022: Team</title>
    </head>
    <body>
        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-up-arrow-alt scrolltop__icon'></i>
        </a>
        
        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="../index.html" class="nav__logo">Devcation 2022</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="../index.html" class="nav__link active-link">Theme</a></li>
                        <li class="nav__item"><a href="../index.html" class="nav__link">Events</a></li>
                        <li class="nav__item"><a href="../index.html" class="nav__link">Timeline</a></li>
                        <li class="nav__item"><a href="" class="nav__link">Sponsors</li>
                        <li class="nav__item"><a href="./team.html" class="nav__link">Team</a></li> 
                        <li class="nav__item"><a href="./comingsoon.html" class="nav__link">Projects</a></li>    
                              
                        <li><i class='bx bx-toggle-left change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__img">
                        <img src="./../img/team_women.png" alt="" width="100%">
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">The OG Devcation OC &#x1F483;</h1>
                        <p class="home__description"><br><br>Meet the team behind the triathlon who left no stone unturned to bring to you the best of all the three worlds - ideation, design and development.</p>
                        <!--This will redirect to the Login/Signup page-->
                        <!--<a href="#" class="button">Get Started</a>-->
                    </div>   
                </div>
            </section>

            
            <!--========== TEAM MEMBERS ==========-->
            <section class="section" id="team">
                <div class="container bd-container">
                    <div class="row">
                        <div class="heading-title text-center team__head">
                            <h2 class="section-team-center">Our Organisers </h2>
                            <!-- <p class="p-top-30 half-txt">Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </p> -->
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Vani_Chitkara - Vani Chitkara.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>Doing many things at a time is my thing!</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/vani-chitkara/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/VaniChitkara"><i class="fa fa-twitter"></i></a>
                                        <a href="https://instagram.com/vanichitkara"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Vani Chitkara</h5>
                                <span>GDSC-IGDTUW Lead</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/pooja_gera.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>Doing many things at a time is my thing!</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/pooja-gera/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/poojagera0_0"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/pooojagera/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Pooja Gera</h5>
                                <span>GDSC-IGDTUW Technical Lead</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/nishtha_goyal.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>Doing many things at a time is my thing!</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/nishtha0801/"><i class="fa fa-linkedin"></i></a>
                                        <!-- <a href="https://twitter.com/VaniChitkara"><i class="fa fa-twitter"></i></a> -->
                                        <a href="https://www.instagram.com/nishtha_goyal_8/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Nishtha Goyal</h5>
                                <span>GDSC-IGDTUW Management Lead</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Abhigya_Verma - Abhigya verma.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>Passionate about Machine Learning and Community Building.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/abhigya02/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/VermaAbhigya"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/sampajano_satima/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Abhigya Verma</h5>
                                <span>GDSC-IGDTUW Outreach Lead</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Sanskriti_Agarwal - Sanskriti Agarwal.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>A developer and web designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/sanskritiaga"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://mobile.twitter.com/Sanskriti__A"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/sanskriti.__.agarwal/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Sanskriti Agarwal</h5>
                                <span>GDSC-IGDTUW Media Lead</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Gunjan_Gupta - 050_GUNJAN GUPTA.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>Open Source Lead at GDSC IGDTUW </p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/gunjan-gupta-225713200/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/GunjanG_12"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/gunjang12/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Gunjan Gupta</h5>
                                <span>GDSC-IGDTUW Outreach Lead</span>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="heading-title text-center team__head">
                            <h2 class="section-team-center">Website Team</h2>
                            <!-- <p class="p-top-30 half-txt">Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </p> -->
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Ishika Bansal.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I Always try to give my 100% to each work I take in hand!</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/ishika-bansal-9893b3184/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/IshikaB82743361"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/ishikabansal8/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Ishika Bansal</h5>
                                <span>Website Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/IMG_20211225_135237-crop - Anshika Gautam.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>A Mentor, educator and Web dev enthusiast who loves to paint and draw.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/anshika-gautam/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/Anshika_Gautam_"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/alcohol_markers/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Anshika Gautam</h5>
                                <span>Website Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Shatakshi_Verma - Shatakshi Verma.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>Love to explore the world of tech!</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/shatakshi-verma-708426200/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/shatakshi_024"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/shatakshi24verma/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Shatakshi Verma</h5>
                                <span>Website Team</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="heading-title text-center team__head">
                            <h2 class="section-team-center">Content Team</h2>
                            <!-- <p class="p-top-30 half-txt">Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </p> -->
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/IMG_0370 2 - Ramya Neelakantan.JPG" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I'm Ramya! I'm an Incoming ST intern at Oracle India ‘22, Mentor in the ML/AI circle at GDSC IGDTUW, and a Mentor Leader at EMP (CSD) IGDTUW </p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/ramya-neelakantan/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/ramyaneelaka"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/ram_yeahh/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Ramya Neelakantan</h5>
                                <span>Content Team</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Mitali_Laroia - Mitali Laroia.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I'm an aspiring full stack web developer and love to talk about new technologies out there!</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/mitali-laroia-b52763191"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/LaroiaMitali?s=08"><i class="fa fa-twitter"></i></a>
                                        <!-- <a href="https://www.instagram.com/gunjang12/"><i class="fa fa-instagram"></i></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Mitali Laroia</h5>
                                <span>Content Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/IMG_4451_2_-_Harshita_Rathee.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I am a ML/AI and Data Science enthusiast.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/harshita-rathee/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/harshita_rathee"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/harshitarathee/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Harshita Rathee</h5>
                                <span>Content Team</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="heading-title text-center team__head">
                            <h2 class="section-team-center">Event Management Team</h2>
                            <!-- <p class="p-top-30 half-txt">Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </p> -->
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Charvi_Jain - Charvi Jain.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I am ambitious and driven and passionate about different technologies and love exploring them. I thrive to challenge and work towards new goals and strive towards it.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/charvi-jain-1b1b98202"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/_charvi_524?t=_lK0eCsRBKaxxcpyjPS-kA&s=09"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/_charvidreams_/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Charvi Jain</h5>
                                <span>Event Management Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Tamanna_Khaitan - Tamanna Khaitan.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I am an adroit sophomore who is always open to explore new opportunities.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/tamannakhaitan"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/tamanna_khaitan?t=ZIBIcNn1WCD8eEwieyrGNQ&s=08"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/invites/contact/?i=jajlm4uf1d1m&utm_content=47vvgph"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Tamanna khaitan</h5>
                                <span>Event Management Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Nikita_Aggarwal - Nikita Aggarwal.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>A pizza roll trying to live that pizza life, also I can code.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/nikita-aggarwal-01"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://mobile.twitter.com/a_nikky001"><i class="fa fa-twitter"></i></a>
                                        <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Nikita Aggarwal</h5>
                                <span>Event Management Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Pragya_Khanna - Pragya Khanna.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>A machine learning enthusiast with a knack for coding!</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/khanna-pragya"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/PragyaKhanna8"><i class="fa fa-twitter"></i></a>
                                        <a href="http://instagram.com/pragya_khanna11?utm_source=qr"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Pragya Khanna</h5>
                                <span>Event Management Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Sonanshi_Goel - Sonanshi Goel.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>Currently in my 2nd year pursuing B.Tech from IGDTUW in CSAI. I am always eager to learn new technologies and determined towards my work </p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/sonanshi-goel-9b550a1bb/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/SonanshiG"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/sonanshi_0209/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Sonanshi Goel</h5>
                                <span>Event Management Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Shrankhla_Srivastava - Shrankhla Srivastava.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>An undergraduate student, a huge advocate of diversity and inclusion in tech and a community builder</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/shrankhla-srivastava-igdtuw"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/shrankhla3"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/shrankhla_srivastava/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Shrankhla Srivastava</h5>
                                <span>Event Management Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/JasleenKaur_Aneja - Jasleen Aneja.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>A workaholic who find joy in throwing herself fully into what she does, loves managing people and events and obsesses a little too much over fictional characters.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/jasleenkauraneja"><i class="fa fa-linkedin"></i></a>
                                        <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
                                        <a href="https://instagram.com/jasleen.kaur.aneja?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Jasleen Kaur Aneja</h5>
                                <span>Event Management Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Deekshita_Verma - DEEKSHITA VERMA.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I am a multi-tasker and love managing a hundred things on my plate.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/DeekshitaV"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/DeekshitaVerma"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/deekshitaverma"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Deekshita Verma</h5>
                                <span>Event Management Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Remini20220213013213787 - Gaurikaa Kathpalia.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>An enthusiastic being passionate about tech and entrepreneurship.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/gaurikaakathpalia/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/Gaurikaa2"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/gaurikaagossips/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Gaurikaa Kathpalia</h5>
                                <span>Event Management Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Sanju.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I am Sanju, Sophomore at IGDTUW. I am passionate about Full Stack Wed Development and helping in communities.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/sanju001/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/Sanju_120"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/sanju34300/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Sanju</h5>
                                <span>Event Management Team</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="heading-title text-center team__head">
                            <h2 class="section-team-center">PR Team</h2>
                            <!-- <p class="p-top-30 half-txt">Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </p> -->
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Gaurisha_R_Srivastava - Gaurisha R Srivastava.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>On the hunt of innovative tech solutions!</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/gaurisha-r-srivastava/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/RGaurisha"><i class="fa fa-twitter"></i></a>
                                        <!-- <a href="https://www.instagram.com/ishikabansal8/"><i class="fa fa-instagram"></i></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Gaurisha R Srivastava</h5>
                                <span>PR Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Muskaan_Verma - Muskaan Verma.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I am a CSE Undergrad and an avid learner. </p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/muskaanv62001/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/MuskaanV6"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/muskaanv0/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Muskaan Verma</h5>
                                <span>PR Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Nandini_Saini - nandini saini.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>A tech enthusiast with special interest in problem solving</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/nandini-saini-49a0981aa/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/Nandini69120748"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/nandini__saini/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Nandini Saini</h5>
                                <span>PR Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Khushboo_Agarwal - Khushboo Agarwal.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I like to explore new things and networking with people. </p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/khushbooagarwal09/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/Khushbo73049062"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/_khushboo_agarwal/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Khushboo Agarwal</h5>
                                <span>PR Team</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="heading-title text-center team__head">
                            <h2 class="section-team-center">HR Team</h2>
                            <!-- <p class="p-top-30 half-txt">Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </p> -->
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Sakshi_Agarwal - Sakshi Agarwal.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I am a passionate and hard-working and enthusiastic about learning new things.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/sakshi-agarwal-1101/"><i class="fa fa-linkedin"></i></a>
                                        <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
                                        <a href="https://www.instagram.com/sakshi11_agarwal/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Sakshi Agarwal</h5>
                                <span>HR Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Madhu_Patel - 121 Madhu patel.jpeg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>Currently, a 3rd year computer Science Student at IGDTUW.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/madhu-patel/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/home"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/_madhupatel/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Madhu Patel</h5>
                                <span>HR Team</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Apeksha_Manchanda_Photo - Apeksha Manchanda.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>A pre-final year CSE student for whom coding is a way to bring my ideas into the world.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/apeksha-manchanda/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/ApekshaManchan1"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/apeksha.manchanda/"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Apeksha Manchanda</h5>
                                <span>HR Team</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="heading-title text-center team__head">
                            <h2 class="section-team-center">Sponsorship Team</h2>
                            <!-- <p class="p-top-30 half-txt">Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </p> -->
                        </div>

                        <div class="col-md-4 col-sm-4 team-card">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../img/Team/Sunidhi Chaudhary - Sunidhi Chaudhary.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I am a third year ECE undergraduate at IGDTUW interested in the intersection of technology, entrepreneurship and sustainability.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.linkedin.com/in/sunidhichaudhary13"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/Sunidhic13"><i class="fa fa-twitter"></i></a>
                                        <a href="https://instagram.com/sunidhiichaudhary"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Sunidhi Chaudhary</h5>
                                <span>Sponsorship Team</span>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            
            <!--========== REACH OUT TO DEVELOPERS ==========-->
            <!--<section class="send section" id="contact_us">
                <div class="send__container bd-container bd-grid">
                    <div class="send__content">
                        <h2 class="section-title-center send__title">Found A Problem?</h2>
                        <p class="send__description">Celestial Biscuit takes their laptops along even on a vacation. Feel free to reach out to us in case you are having any trouble in using our platform.</p>
                        <form action="">
                            <div class="send__direction">
                                <input type="text" placeholder="Type Message" class="send__input">
                                <a href="#" class="button">Send</a>
                            </div>
                        </form>
                    </div>

                    <div class="send__img">
                        <img src="./img/aram.png" alt="">
                    </div>
                </div>
            </section>-->
        </main>

        
        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="../main.js"></script>
    </body>
</html>